

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


nav {
  background-color: gray;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}


nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


nav a:hover {
  color: yellow;
}


body {
  background-color: white;
  padding: 2rem;
}


#question-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px black;
}

#question {
  padding: 0rem 0rem 1rem 0rem;
}

#answer-buttons button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: background 0.3s;
}


#answer-buttons button:hover {
  background: whitesmoke;
}


.color-correct {
  background-color: green !important;
  color: white;
}

.color-wrong {
  background-color: red !important;
  color: white;
}


.controls {
  text-align: center;
  margin-top: 1rem;
}

.controls button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.controls button:hover {
  background-color: lightblue;
}


.hide {
  display: none;
}
